
/* app css stylesheet */


.title {
    width: 100%;

}

.cardIndex {
    text-align: center;
    display: table;
}

.card {
    width: 3.4vw;
    height: 7vw;
    border: 1px solid black;
}

.cardArea {
    float: left;
    padding: 2px;
}

.symbol {
    width: 3vw;
    height: 3vw;
    top: 1vh;
    position: relative;

}

.btnShuffle {

    font-size: 12px;
    margin: 1vw;
    background: #b3d4fc;
    font-weight: bold;

    letter-spacing: 2px;
    padding: 13px 17px;
    border: none;
    border-radius: 10px;

}

.btnReset {

    font-size: 12px;
    margin: 1vw;
    background: crimson;
    font-weight: bold;

    letter-spacing: 2px;
    padding: 13px 17px;
    border: none;
    border-radius: 10px;
}